<div class="card text-center" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{info.name}}</h5>
    <p class="card-text"><a [href]="info.url" target="_blank">Official Website</a></p>
    <p class="card-text"><a href="tel:{{info.phone}}">{{info.phone}}</a></p>
    <button type="button" class="btn btn-primary" (click)="switchMapMode()">{{showText()}}</button>
  </div>
</div>

<agm-map
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)">

  <agm-marker
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.label, i)"
    [latitude]="m.lat"
    [longitude]="m.lng"
    [visible]="!showRoute"
    label=""
    [markerDraggable]="m.draggable"
    (dragEnd)="markerDragEnd(m, $event)">

    <agm-info-window>
      <strong>{{m.label}}</strong>
    </agm-info-window>

  </agm-marker>
  <agm-direction *ngIf="showRoute" [visible]="showRoute" [origin]="origin" [destination]="destination"></agm-direction>
</agm-map>
